button {
  background: transparent;
  border: none;
  border-radius: 50%;
  color: #fff;
  padding: 100px 100px;
}

.button-container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.button--orange {
  background: #fd7e14;
}

.button--blue {
  background: #007bff;
}

.stats {
  max-width: 816px;
  margin: 0 auto;
}